/* Selectors in CSS */
/* id selector  */
/* #box{
    color: orangered;
}
#container{
    color: brown;
}
#container1{
    color: blueviolet;
} */

/* Class Selector */
/* .iub{
    color: blue;
}
.box{
    color: blueviolet;
} */
/* Tag Selector */
/* h1{
    color: whitesmoke;
}
div{
    color: yellow;
}
span{
    color: pink;
} */

/* Attribute Selector */
/* input[type = "text"] {
    color: blueviolet;
}
span[id = "box"] {
    color: blue;
} */

/* body{
    overflow: hidden;

    overflow-y: hidden;
    overflow-x: hidden;

} */

h1{
    color: red;
}
.intro_text{
    background-color: rgb(239, 178, 178);
    color: green;
    background-color: blue;
    color: white;
}

#intro{
    color: pink;
}

div{
    width: 1600px;
    height: 100px;
    /* max-width: 800px;
    min-width: 700px;
    min-height: 600px;
    max-height: 900px; */
    /* background-color: blueviolet; */
    background-color: blueviolet;
    /* background-image: url('/download.jpeg');
    background-repeat: no-repeat;
    background-position: 500px; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    color: black;
}



/* Formating properties */

.iub{
    text-align: center;
}

.iub{
    /* text-align: center; */
    /* text-align: right; */
    /* text-decoration: dashed;
    text-decoration: underline;
    text-decoration: double;
    text-decoration: line-through;
    text-decoration: dotted;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase; */
    /* text-overflow: clip; */
    /* text-shadow: 1px 1px red ; */
    line-height: 40px;
    /* letter-spacing: 1px; */
    /* word-spacing: 10px; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: Poppins, 'Times New Roman'; */
    /* font-size: 50px; */
    /* font-weight: bolder; */
    /* font-style: italic; */
    /* font-style: oblique; */

}

button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 12px;
}

button:hover{
    background-color: blue;
    /* width: 1000px; */
    color: pink;
    height: 200px;
}

/* input:focus{
    border: none;
    outline: none;
    border: 2px solid red;
    width: 200px;
} */
input:focus{
    border: 4px solid blueviolet;
}

input:active{
    border: 5px solid green;
}

